<div *ngIf="_totalItem > 0 && buttons.length > 0" class="">
  <ul class="flex flex-wrap justify-center md:justify-end">
    <!-- First -->
    <li *ngIf="_currentButton !== 1" class="mx-1">
      <button (click)="changePage(1)" class="
          p-1
          border border-gray-400
          text-secondary
          focus:text-blue-400 focus:border-blue-400
        ">
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevrons-left" width="20"
            height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round"
            stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <polyline points="11 7 6 12 11 17" />
            <polyline points="17 7 12 12 17 17" />
          </svg>
        </span>
      </button>
    </li>
    <!-- < -->
    <li *ngIf="_currentButton !== 1" class="mx-1">
      <button (click)="changePage(_currentButton - 1)" class="
          p-1
          border border-gray-400
          text-secondary
          focus:text-blue-400 focus:border-blue-400
        ">
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-left" width="20"
            height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round"
            stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <polyline points="15 6 9 12 15 18" />
          </svg>
        </span>
      </button>
    </li>

    <!-- items -->
    <li class="mx-1" *ngFor="let button of buttons">
      <button (click)="changePage(button)" class="
          h-[30px]
          w-[30px]
          p-1
          border border-gray-400
          text-secondary
          focus:text-blue-400
          focus:border-blue-400
          {{
          _currentButton == button ? 'border-blue-400 text-blue-400' : null
        }}
        ">
        <span class="relative top-[-7px]">
          {{ button }}
        </span>
      </button>
    </li>

    <!-- > -->
    <li *ngIf="_currentButton !== _lastButton" class="mx-1">
      <button (click)="changePage(_currentButton + 1)" class="
          p-1
          border border-gray-400
          text-secondary
          focus:text-blue-400 focus:border-blue-400
        ">
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-right" width="20"
            height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round"
            stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <polyline points="9 6 15 12 9 18" />
          </svg>
        </span>
      </button>
    </li>

    <!-- Last -->
    <li *ngIf="_currentButton !== _lastButton" class="mx-1">
      <button (click)="changePage(_lastButton)" class="
          p-1
          border border-gray-400
          text-secondary
          focus:text-blue-400 focus:border-blue-400
        ">
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevrons-right" width="20"
            height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round"
            stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <polyline points="7 7 12 12 7 17" />
            <polyline points="13 7 18 12 13 17" />
          </svg>
        </span>
      </button>
    </li>
  </ul>
</div>