<div class="h-screen">
    <h2 class="text-gray-600 pt-2">Thống kê lịch sử thu</h2>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-full ">
    
    <!-- Position Column -->
    <ng-container matColumnDef="content" class="h-20">
        <th mat-header-cell *matHeaderCellDef class="  text-gray-500 font-medium text-sm bg-gray-100"> Nội dung
        </th>
        <td mat-cell *matCellDef="let element"> {{element.content}} </td>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef class=" text-gray-500 font-medium text-sm bg-gray-100"> Mã hóa đơn
        </th>
        <td mat-cell *matCellDef="let element">
            <button  class="text-red-600 hover:underline" (click)='openDialog()'> 
                {{element.name}}
            </button>
         </td>
    </ng-container>
    <!-- Weight Column -->
    <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef class=" text-gray-500 font-medium text-sm bg-gray-100"> Ngày thu
        </th>
        <td mat-cell *matCellDef="let element"> {{element.date}} </td>
    </ng-container>
    <!-- Symbol Column -->
    <ng-container matColumnDef="payby">
        <th mat-header-cell *matHeaderCellDef class="text-gray-500 font-medium text-sm bg-gray-100"> Thanh toán bằng </th>
        <td mat-cell *matCellDef="let element">{{element.payby}}
        </td>
    </ng-container>
    <ng-container matColumnDef="id_student">
        <th mat-header-cell *matHeaderCellDef class="text-gray-500 font-medium text-sm bg-gray-100"> Mã sinh viên </th>
        <td mat-cell *matCellDef="let element">{{element.id_student}}
        </td>
    </ng-container>
    <ng-container matColumnDef="money">
        <th mat-header-cell *matHeaderCellDef class="text-gray-500 font-medium text-sm bg-gray-100"> Tổng tiền </th>
        <td mat-cell *matCellDef="let element">{{element.money}}
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>