<form [formGroup]="form" (ngSubmit)="onChangeBed()">
  <div class="bg-white border-b mb-2 pb-2 flex justify-between">
    <span class="text-secondary text-lg font-semibold uppercase"
      >Chuyển vị trí</span
    >

    <span class="text-secondary" mat-dialog-close>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="feather feather-x"
      >
        <line x1="18" y1="6" x2="6" y2="18"></line>
        <line x1="6" y1="6" x2="18" y2="18"></line>
      </svg>
    </span>
  </div>
  <mat-dialog-content class="mat-typography">
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-semibold mb-2">
        Chỗ hiện tại
      </label>
      <input class="w-full input" [value]="dataParent?.currentBed" disabled />
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-semibold mb-2">
        Chuyển đến
        <span class="text-gray-500 font-normal"
          >(Tòa nhà - Tầng - Phòng - Giường)</span
        >
      </label>
      <select class="w-full input" formControlName="bed_id">
        <option *ngFor="let bed of data" [value]="bed?.value">
          {{ bed?.label }}
        </option>
      </select>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end" class="border-t border-gray-600 mt-10">
    <button
      mat-dialog-close
      class="
        px-4
        mr-4
        bg-header
        text-main
        font-medium
        rounded
        inline-flex
        items-center
      "
    >
      Huỷ
    </button>
    <button
      type="submit"
      class="
        px-4
        mr-4
        bg-main
        hover:bg-gray-200
        text-white
        font-medium
        rounded
        inline-flex
        items-center
        hover:text-green-600
      "
    >
      Lưu
    </button>
  </mat-dialog-actions>
</form>

<app-loading-page *ngIf="isLoading"></app-loading-page>
