<div class="grid mb-4 mx-auto">
         <div class="px-4 ml-6">
              <main class="grid md:grid-cols-12 gap-4">
                <section class="bg-white col-span-6 px-8 py-10 shadow-md">
                  <div class="flex">
                    <div class="ml-2">
                      <div>
                        {{ user?.last_name + " " + user?.first_name }}
                      </div>
                      <p class="text-[#AFA9A9]">
                        {{
                          user?.user_type == 0 ? "Sinh viên" : "Quản trị viên"
                        }}
                      </p>
                    </div>
                  </div>
                  <div class="mt-2">
                    <div class="py-2 grid gap-2 grid-cols-3">
                      <span class="font-light text-lam">Email</span>
                      <p class="font-normal col-span-2">
                        {{ user?.email }}
                      </p>
                    </div>
                    <div class="py-2 grid gap-2 grid-cols-3">
                      <span class="font-light text-lam">Số điện thoại</span>
                      <span class="font-normal col-span-2"> {{ user?.phone }} </span>
                    </div>
                    <div class="py-2 grid gap-2 grid-cols-3">
                      <span class="font-light text-lam">Ngày vào</span>
                      <span class="font-normal col-span-2"> {{ createAt }} </span>
                    </div>
                  </div>
                </section>
                <section class="bg-white col-span-6 px-8 py-10 shadow-md">
                  <div class="font-semibold text-md">THÔNG TIN CÁ NHÂN</div>
                  <div class="mt-2">
                    <div class="py-2 grid gap-2 grid-cols-3">
                      <span class="font-light text-lam">Họ và tên</span>
                      <span class="font-normal col-span-2">
                        {{ user?.last_name + " " + user?.first_name }}
                      </span>
                    </div>
                    <div class="py-2 grid gap-2 grid-cols-3">
                      <span class="font-light text-lam">Giới tính</span>
                      <span class="font-normal col-span-2">
                        {{ user?.gender == 1 ? "Nam" : "Nữ" }}
                      </span>
                    </div>
                    <div class="py-2 grid gap-2 grid-cols-3">
                      <span class="font-light text-lam">Ngày sinh</span>
                      <span class="font-normal col-span-2"> {{ birth }} </span>
                    </div>
                    <div class="py-2 grid gap-2 grid-cols-3">
                      <span class="font-light text-lam">Địa chỉ</span>
                      <span class="font-normal col-span-2"> {{ user?.address }} </span>
                    </div>
                  </div>
                  <div class="mt-2 sm:flex ">
                    <button
                      [routerLink]="Router.PROFILE.STAFF.CHILD[1].URL"
                      class="bg-main w-2/3 sm:w-auto text-white mr-3 rounded-sm px-2 mb-2 shadow-sm"
                    >
                      Cập nhật 
                    </button>
                    <button
                      [routerLink]="Router.PROFILE.STAFF.CHILD[0].URL"
                      class="bg-main w-2/3 sm:w-auto text-white mr-3 rounded-sm px-2 mb-2 shadow-sm"
                    >
                     Đổi mật khẩu
                    </button>
                    <button
                      (click)="logout()"
                      class="bg-header w-2/3 sm:w-auto text-secondary rounded-sm px-2 mb-2 shadow-sm"
                    >
                      Đăng xuất
                    </button>
                  </div>
                </section>
              </main>
          </div>
</div>
<app-loading-page *ngIf="isLoading"></app-loading-page>
