<div class="mx-auto relative">
  <div class="pr-4">
    <div
      class="border rounded-lg border-green-400 px-3 bg-white"
      x-data="{ Open : true  }"
    >
      <button
        x-on:click="Open = !Open"
        class="
          text-gray-600
          inline-flex
          items-center
          justify-between
          w-full
          text-lg
          font-medium
          transition-colors
          duration-150
          px-2
        "
      >
        <span class="inline-flex items-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            x-show="!Open"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-chevron-up"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"
            />
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            x-show="Open"
            class="w-4 h-4"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            style="display: none"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M19 9l-7 7-7-7"
            />
          </svg>
          <span class="ml-2">Tìm kiếm</span>
        </span>
      </button>
      <div x-show.transition="Open" style="display: none">
        <div
          class="overflow-hidden text-sm font-medium text-gray-700 pb-3 px-2"
          aria-label="submenu"
        >
          <form
            [formGroup]="searchForm"
            (ngSubmit)="onSearch()"
            class="flex md:flex-row flex-col mt-2"
          >
            <div class="mb-1 px-2">
              <input
                type="text"
                class="w-full input"
                formControlName="title"
                placeholder="Tiêu đề"
              />
            </div>

            <div class="mb-1 px-2">
              <select class="w-full input" formControlName="level">
                <option value="">Chọn tất cả</option>
                <option
                  *ngFor="let level of levelNotice"
                  [value]="level?.value"
                >
                  {{ level?.label }}
                </option>
              </select>
            </div>
            <div class="mb-1 px-2">
              <select class="input w-full" formControlName="type_announce_id">
                <option value="">Chọn tất cả</option>
                <option *ngFor="let type of typeAnnounce" [value]="type?.value">
                  {{ type?.label }}
                </option>
              </select>
            </div>
            <div class="mb-1 px-2 sm:w-auto w-full">
              <button
                class="
                  sm:w-auto
                  w-full
                  px-2
                  bg-main
                  rounded-md
                  text-white
                  hover:border-main hover:border hover:bg-white hover:text-main
                "
              >
                Tìm kiếm
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="md:flex md:justify-between py-2">
      <button
        class="
          px-2
          w-auto
          bg-main
          rounded-md
          text-white
          hover:border-main hover:border hover:bg-white hover:text-main
        "
        (click)="createNotice()"
      >
        Tạo mới
      </button>
      <div class="flex flex-row-reverse">
        <app-paginate
          [current_button]="paging.page.value"
          [last_button]="lastPage"
          [total_item]="totalItems"
          [total_button]="5"
          (eventChangePage)="changePage($event)"
        >
        </app-paginate>
      </div>
    </div>

    <div class="overflow-auto shadow">
      <table
        class="
          text-left
          w-full
          wrapper-table
          table-auto
          border border-[#bdbdbd]
          rounded-lg
        "
      >
        <thead
          class="
            flex
            w-full
            border-b-2
            uppercase
            font-medium
            text-[#00836b]
            border-[#bdbdbd]
          "
        >
          <tr class="flex w-full">
            <th class="p-2 w-12 text-center text-xs">ID</th>

            <th class="p-2 w-56 text-center text-xs">Mức độ cảnh báo</th>
            <th class="p-2 w-56 text-left text-xs">Loại cảnh báo</th>
            <th class="p-2 w-56 text-xs">Ngày bắt đầu</th>
            <th class="p-2 w-56 text-xs">Ngày kết thúc</th>
            <th class="p-2 w-56 text-xs">Sinh viên</th>
            <th class="p-2 w-40 text-xs">Tiêu đề</th>
            <th class="p-2 min-w-[250px] max-w-[250px] text-xs">Nội dung</th>
            <th class="p-2 w-40 text-center text-xs">Hành động</th>
          </tr>
        </thead>

        <tbody
          class="
            flex flex-col
            overflow-auto
            w-full
            text-gray-600 text-sm
            font-light
            bg-white
            divide-y
          "
        >
          <tr *ngFor="let d of data">
            <td class="p-2 w-12 text-center">{{ d?.id }}</td>
            <td class="p-2 w-56 text-center">
              {{ d?.level }}
            </td>
            <td class="p-2 w-56 text-left">
              {{ d?.typeAnnounce?.name }}
            </td>
            <td class="p-2 w-56 text-left">
              {{ d?.date_start }}
            </td>
            <td class="p-2 w-56 text-left">
              {{ d?.date_end }}
            </td>
            <td class="p-2 w-56">
              {{ [d?.user?.last_name, d?.user?.first_name].join(" ") }}
            </td>
            <td class="p-2 w-40">{{ d?.title }}</td>
            <td
              (click)="expandText(d?.id)"
              class="p-2 max-w-[250px] min-w-[250px] text-left cursor-pointer {{
                expand.id === d?.id && expand.status ? null : 'expand-text'
              }}"
            >
              {{ d?.content }}
            </td>

            <td class="p-2 w-40 text-center">
              <div class="flex justify-center">
                <button class="px-1" (click)="updateNotice(d?.id)">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-edit"
                    width="25"
                    height="25"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path
                      d="M9 7h-3a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-3"
                    />
                    <path d="M9 15h3l8.5 -8.5a1.5 1.5 0 0 0 -3 -3l-8.5 8.5v3" />
                    <line x1="16" y1="5" x2="19" y2="8" />
                  </svg>
                </button>
                <button class="px-1" (click)="removeNotice(d?.id)">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-trash"
                    width="25"
                    height="25"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <line x1="4" y1="7" x2="20" y2="7" />
                    <line x1="10" y1="11" x2="10" y2="17" />
                    <line x1="14" y1="11" x2="14" y2="17" />
                    <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                    <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
                  </svg>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<app-loading-page *ngIf="isLoading"></app-loading-page>
