<div class="grid mx-auto">
  <div class="grid grid-cols-12 gap-6">
    <div class="grid grid-cols-12 col-span-12 gap-6 xxl:col-span-9">
      <div class="col-span-12">
        <div class="grid gap-2 grid-cols-1 lg:grid-cols-1">
          <!-- component -->
          <div
            class="
              min-h-screen
              bg-gray-100
              flex flex-col
              justify-center
              sm:py-12
            "
          >
            <div class="xs:p-0 mx-auto mb-auto md:w-full md:max-w-md">
              <div
                class="
                  flex
                  w-full
                  flex-wrap
                  items-stretch
                  justify-center
                  text-gray-800
                "
              >
                <div class="flex py-3 px-2 items-center">
                  <p class="text-3xl text-green-500 font-semibold pr-1">
                    QUẢN LÝ
                  </p>
                  <p class="font-semibold tracking-widest text-lg">KÝ TÚC XÁ</p>
                </div>
              </div>
              <div
                class="
                  bg-white
                  shadow
                  w-full
                  rounded-lg
                  divide-y divide-gray-200
                "
              >
                <form [formGroup]="ForgotPassWForm" (ngSubmit)="onSubmit()">
                  <div class="px-5 pt-4">
                    <p class="text-xl text-left font-bold pt-2">
                      QUÊN MẬT KHẨU ?
                    </p>
                    <span
                      >Vui lòng nhập địa chỉ email đã đăng ký của bạn, chúng tôi
                      sẽ liên hệ lại với bạn bằng liên kết đặt lại mật
                      khẩu</span
                    >
                  </div>
                  <div class="px-5 py-7">
                    <div class="mt-1 mb-5">
                      <label
                        class="font-semibold text-sm text-gray-600 pb-1 block"
                      >
                        E-mail
                        <span class="text-red-400">(*)</span>
                      </label>
                      <div class="relative flex w-full flex-wrap items-stretch">
                        <span class="z-10 absolute text-main w-8 pl-3 py-3">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="icon icon-tabler icon-tabler-send"
                            width="25"
                            height="25"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            fill="none"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          >
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <line x1="10" y1="14" x2="21" y2="3" />
                            <path
                              d="M21 3l-6.5 18a0.55 .55 0 0 1 -1 0l-3.5 -7l-7 -3.5a0.55 .55 0 0 1 0 -1l18 -6.5"
                            />
                          </svg>
                        </span>
                        <input
                          type="email"
                          class="
                            relative
                            border
                            rounded-lg
                            px-3
                            py-3
                            pl-10
                            text-sm
                            w-full
                            focus:outline-none
                          "
                          placeholder="Nhập E-mail"
                          formControlName="email"
                        />
                        <span
                          class="validate"
                          *ngIf="
                            (RFC.email.touched || submitted) &&
                            RFC.email.errors?.required
                          "
                          >* Email không được để trống
                        </span>
                        <span
                          class="validate"
                          *ngIf="
                            (RFC.email.touched || submitted) &&
                            RFC.email.errors?.email
                          "
                        >
                          * Nhập 1 E-mail hợp lệ (VD : user@gmail.com)
                        </span>
                      </div>
                    </div>

                    <div class="grid gap-2">
                      <button
                        type="submit"
                        class="
                          transition
                          duration-200
                          bg-main
                          hover:bg-green-500
                          focus:bg-green-500 focus:shadow-sm focus:outline-none
                          text-white
                          w-full
                          rounded-lg
                          text-sm
                          shadow-sm
                          hover:shadow-md
                          font-semibold
                          text-center
                          inline-block
                        "
                      >
                        Gửi
                      </button>
                      <a
                        routerLink="/dang-nhap"
                        class="
                          transition
                          duration-200
                          bg-header
                          text-main
                          w-full
                          rounded-lg
                          text-sm
                          shadow-sm
                          hover:shadow-md
                          font-semibold
                          text-center
                          inline-block
                          leading-10
                        "
                      >
                        Trở lại đăng nhập
                      </a>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-loading-page *ngIf="isLoading"></app-loading-page>
