<div class="mx-auto md:ml-3  ">

    <div class="border rounded-lg border-green-400 bg-white">
        <div class="text-sm font-medium text-gray-700 p-3">
            <form [formGroup]="formSearch">
                <div class="flex flex-col sm:flex-row">

                    <div class="w-full sm:w-2/12 mr-4 mb-2 sm:mb-0">
                        <select type="text " formControlName="status"
                            class="w-full border border-gray-300 rounded-lg  px-3 py-2  text-sm focus:outline-none input">
                            <option value="">Trạng thái</option>
                            <option value="0">Không hoạt động</option>
                            <option value="1">Hoạt động</option>
                        </select>
                    </div>

                    <div class="w-full sm:w-2/12 mr-4 mb-2 sm:mb-0">
                        <select type="text " formControlName="role_id"
                            class="w-full border border-gray-300 rounded-lg  px-3 py-2  text-sm focus:outline-none input">
                            <option value="">Chức vụ</option>
                            <option *ngFor="let role of roles" [value]="role.id">{{role.name}}</option>
                        </select>
                    </div>

                    <div class="w-full sm:w-2/12 mr-4 mb-2 sm:mb-0">
                        <input type="text" formControlName="name"
                            class=" border rounded-lg px-3 py-2 text-sm w-full focus:outline-none input"
                            placeholder="Tên nhân viên" />
                    </div>
                    <div class="w-full sm:w-2/12 mr-4">
                        <button (click)="searchStaff()"
                            class=" px-2 h-full w-full md:w-32  bg-main rounded-md text-white hover:border-main hover:border hover:bg-white hover:text-main ">
                            Tìm kiếm
                        </button>   
                    </div>
                </div>
            </form>

        </div>
    </div>
    <div class="flex flex-col justify-between md:items-center md:flex-row mt-2">
        <div class="mb-2 md:mb-0">
            <button class="px-2 w-full md:w-32 
                bg-main
                rounded-md
                text-white
                hover:border-main hover:border hover:bg-white hover:text-main" (click)="openDialogCreate()">Tạo
                mới</button>

        </div>
        <div>
            <app-paginate [current_button]="f.page.value" [last_button]="lastPage" [total_item]="totalItems"
                (eventChangePage)="changePage($event)" [total_button]="5">
            </app-paginate>
        </div>
    </div>

    <div *ngIf="staffs[0]?.id; else noData" class="mt-2  overflow-auto">
        <table mat-table [dataSource]="staffs" class="w-full ">

            <!-- Position id -->
            <ng-container matColumnDef="id" class="">
                <th mat-header-cell *matHeaderCellDef class="text-gray-500 font-medium text-sm bg-gray-100">
                    ID
                </th>
                <td mat-cell *matCellDef="let element">
                    {{element.id}}
                </td>
            </ng-container>

            <!-- Position fullname -->
            <ng-container matColumnDef="fullname" class="">
                <th mat-header-cell *matHeaderCellDef class="text-gray-500 font-medium text-sm bg-gray-100">
                    Họ Tên
                </th>
                <td mat-cell *matCellDef="let element">
                    {{element.last_name}} {{element.first_name}}
                </td>
            </ng-container>

            <!-- Position email -->
            <ng-container matColumnDef="email" class="">
                <th mat-header-cell *matHeaderCellDef class="text-gray-500 font-medium text-sm bg-gray-100">
                    Email
                </th>
                <td mat-cell *matCellDef="let element">
                    {{element.email}}
                </td>
            </ng-container>
            <!-- Position status -->
            <ng-container matColumnDef="status" class="">
                <th mat-header-cell *matHeaderCellDef class="text-gray-500 font-medium text-sm bg-gray-100">
                    Trạng thái
                </th>
                <td mat-cell *matCellDef="let element">

                    <mat-slide-toggle [checked]="element.status ? true : false"
                        (change)="updateStatus(element, $event)">
                        {{element.status ? 'Đang hoạt động' : 'Không hoạt động'}}</mat-slide-toggle>
                </td>
            </ng-container>
            <!-- Position role_id -->
            <ng-container matColumnDef="role_id" class="">
                <th mat-header-cell *matHeaderCellDef class="text-gray-500 font-medium text-sm bg-gray-100 px-3">
                    Chức vụ
                </th>
                <td mat-cell *matCellDef="let element" class="px-3">
                    <span *ngFor="let role of roles">
                        <span *ngIf="role.id == element.role_id">{{role.name}}</span>
                    </span>
                </td>
            </ng-container>

            <!-- Position action -->
            <ng-container matColumnDef="action" class="text-center">
                <th mat-header-cell *matHeaderCellDef class="text-gray-500 font-medium text-sm bg-gray-100">
                    Tùy chọn
                </th>
                <td mat-cell *matCellDef="let element">
                    <div class="demo-button-container ">
                        <button (click)="openDialogDetail(element)" class="
                        leading-10
                        p-1
                        mr-2
                        bg-gray-300
                        hover:bg-gray-200
                        text-white
                        hover:text-blue-600
                        font-medium
                        rounded
                        inline-flex
                        items-center
                      ">
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-clipboard-list" width="20"
                      height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#9e9e9e" fill="none"
                      stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2" />
                      <rect x="9" y="3" width="6" height="4" rx="2" />
                      <line x1="9" y1="12" x2="9.01" y2="12" />
                      <line x1="13" y1="12" x2="15" y2="12" />
                      <line x1="9" y1="16" x2="9.01" y2="16" />
                      <line x1="13" y1="16" x2="15" y2="16" />
                    </svg>
                        </button>

                        <button (click)="openDialogEdit(element)" class="
                                  leading-10
                                  p-1
                                  mr-2
                                  bg-green-300
                                  hover:bg-gray-200
                                  text-white
                                  font-medium
                                  rounded
                                  inline-flex
                                  items-center
                                  hover:text-green-600
                                ">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-edit" width="20"
                                height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                                stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M9 7h-3a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-3" />
                                <path d="M9 15h3l8.5 -8.5a1.5 1.5 0 0 0 -3 -3l-8.5 8.5v3" />
                                <line x1="16" y1="5" x2="19" y2="8" />
                            </svg>
                        </button>
                    </div>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
    </div>

    <ng-template #noData>
        <app-no-data></app-no-data>
    </ng-template>

</div>