<!-- component -->
<div class="mx-auto pl-6">
  <div class="px-4 pb-3">
    <div
      class="border rounded-lg border-green-400 px-3 bg-white my-2"
      x-data="{ Open : false }"
    >
      <button
        class="
          text-gray-600
          inline-flex
          items-center
          justify-between
          w-full
          text-lg
          font-medium
          transition-colors
          duration-150
          px-2
        "
        x-on:click="Open = !Open"
      >
        <span class="inline-flex items-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            x-show="!Open"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-chevron-up"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"
            />
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            x-show="Open"
            class="w-4 h-4"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            style="display: none"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M19 9l-7 7-7-7"
            />
          </svg>
          <span class="ml-2">Tìm kiếm</span>
        </span>
      </button>
      <div x-show.transition="Open" style="display: none">
        <div
          class="overflow-auto text-sm font-medium text-gray-700 pb-3"
          aria-label="submenu"
        >
          <form
            [formGroup]="searchForm"
            (ngSubmit)="onSearch()"
            class="sm:flex sm:items-center"
          >
            <div class="mx-2">
              <label>Trạng thái</label>
              <select
                class="input w-full sm:w-[220px]"
                formControlName="status"
              >
                <option value="">Chọn tất cả</option>
                <option [value]="0">Chưa chốt</option>
                <option [value]="1">Đã chốt</option>
              </select>
            </div>
            <div class="mx-2">
              <label>Dự án</label>
              <select
                (change)="getBuildings($event)"
                class="w-full sm:w-[220px] input"
                formControlName="project_id"
              >
                <option value="">Chọn tất cả</option>

                <option *ngFor="let p of projects" [value]="p.id">
                  {{ p.name }}
                </option>
              </select>
            </div>
            <div class="mx-2">
              <label>Tòa nhà</label>
              <select
                (change)="handleChangeBuilding($event)"
                class="w-full sm:w-[220px] input"
                formControlName="building_id"
              >
                <option value="" disabled selected>Toà nhà</option>
                <option
                  [disabled]="buildings?.length == 0 || buildings == undefined"
                  value=""
                >
                  {{
                    buildings?.length == 0 || buildings == undefined
                      ? "No Data"
                      : "Chọn tất cả"
                  }}
                </option>
                <option *ngFor="let b of buildings" [value]="b.id">
                  {{ b.name }}
                </option>
              </select>
            </div>

            <div class="mx-2">
              <label>Tầng</label>
              <select
                class="w-full sm:w-[220px] input"
                formControlName="floor_id"
              >
                <option value="" disabled selected>Tầng</option>
                <option
                  [disabled]="floors?.length == 0 || floors == undefined"
                  value=""
                >
                  {{
                    floors?.length == 0 || floors == undefined
                      ? "No Data"
                      : "Chọn tất cả"
                  }}
                </option>
                <option *ngFor="let f of floors" [value]="f?.id">
                  {{ f?.name }}
                </option>
              </select>
            </div>

            <div class="mx-2 pt-5">
              <button mat-raised-button class="bg-main text-white">
                Tìm kiếm
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="my-4">
      <label class="font-semibold text-base block">Chọn loại phí</label>
      <select
        class="input w-full sm:w-[200px]"
        [formControl]="selectControl"
        (change)="handleChangeOption()"
      >
        <option value="default" selected disabled>Chọn loại phí</option>
        <option value="month">Thu phí theo tháng</option>
        <option value="fixed">Thu phí theo hợp đồng</option>
      </select>
    </div>
    <div class="flex flex-row-reverse">
      <app-paginate
        [current_button]="paging.page.value"
        [last_button]="lastPage"
        [total_item]="totalItems"
        [total_button]="3"
        (eventChangePage)="changePage($event)"
      >
      </app-paginate>
    </div>

    <section class="overflow-auto">
      <table
        class="
          text-left
          w-full
          wrapper-table
          table-auto
          border border-[#bdbdbd]
          rounded-lg
        "
      >
        <caption class="text-lg font-medium text-[#e9967a] text-center">
          {{
            option === "month"
              ? "QUẢN LÝ THU PHÍ THEO THÁNG"
              : "QUẢN LÝ THU PHÍ THEO HỢP ĐỒNG"
          }}
        </caption>
        <thead
          class="
            w-full
            border-b-2
            uppercase
            text-[#00836b] text-sm
            border-[#bdbdbd]
          "
        >
          <tr class="w-full">
            <th class="py-3 px-2">ID</th>
            <th class="py-3 px-2 w-56 text-center">
              Ngày dự kiến <br />chốt dịch vụ
            </th>
            <th class="py-3 px-2">Dự án</th>
            <th class="py-3 px-2">Toà nhà</th>
            <th class="py-3 px-2">Tầng</th>
            <th class="py-3 px-2">Phòng</th>
            <th class="py-3 px-2">Trạng thái</th>
            <th class="py-3 px-2 text-center">Hành động</th>
          </tr>
        </thead>
        <tbody
          class="w-full text-gray-600 text-sm font-light bg-white divide-y"
        >
          <tr class="w-full" *ngFor="let d of data">
            <td class="py-3 px-2">{{ d?.id }}</td>
            <td class="py-3 px-2 w-56 text-center">
              {{ d?.created_at }}
            </td>

            <td class="py-3 px-2">
              {{ d?.projects }}
            </td>
            <td class="py-3 px-2">
              {{ d?.buildings }}
            </td>
            <td class="py-3 px-2">
              {{ d?.floors }}
            </td>
            <td class="py-3 px-2">
              {{ d?.rooms }}
            </td>
            <td class="py-3 px-2">
              <div class="flex justify-start w-36">
                <span
                  class=" p-1 px-auto text-white font-normal rounded-md shadow-sm {{
                    d?.status === 'Đã tạo hóa đơn' ? 'bg-success' : 'bg-error'
                  }}"
                >
                  {{ d?.status }}
                </span>
              </div>
            </td>
            <td class="py-3 px-2 text-center">
              <button [matMenuTriggerFor]="menu">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-settings"
                  width="28"
                  height="28"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="#9e9e9e"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path
                    d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z"
                  />
                  <circle cx="12" cy="12" r="3" />
                </svg>
              </button>
              <mat-menu #menu="matMenu" xPosition="before">
                <div class="wrapper-button">
                  <button
                    *ngIf="d?.status === 'Đã tạo hóa đơn'"
                    mat-menu-item
                    class="text-secondary"
                    (click)="
                      option === 'month'
                        ? viewInvoiceMonth(d?.id)
                        : viewInvoiceContract(d?.id)
                    "
                  >
                    Chi tiết hoá đơn
                  </button>
                  <button
                    *ngIf="d?.status === 'Chưa tạo hóa đơn'"
                    mat-menu-item
                    class="text-secondary"
                    (click)="
                      option === 'month'
                        ? createInvoiceMonth(d?.id)
                        : createInvoiceContract(d?.id)
                    "
                  >
                    Tạo hoá đơn
                  </button>
                </div>
              </mat-menu>
            </td>
          </tr>
        </tbody>
      </table>

      <app-no-data *ngIf="data?.length === 0"></app-no-data>
    </section>
  </div>
</div>
<app-loading-page *ngIf="isLoading"></app-loading-page>
