<div class="grid mb-4 mx-auto">
  <div class="px-4 ml-6">
    <section class="bg-white md:w-1/3 w-full px-8 py-10 shadow-md">
      <span class="text-lg">Thay đổi mật khẩu</span>
      <hr class="border-secondary py-4" />

      <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
        <div class="mt-1 mb-5">
          <label class="font-semibold text-sm text-gray-600 pb-1 block">Mật khẩu <span
              class="text-red-400">(*)</span></label>
          <div class="relative">
            <input [type]="passw ? 'password' : 'text'" class="
                          relative
                          border
                          rounded-lg
                          p-3
                          text-sm
                          w-full
                          focus:outline-none
                          input
                        " placeholder="Nhập mật khẩu" formControlName="old_password" />
            <span (click)="handleShowPassword()" class="
                          z-10
                          h-full
                          leading-snug
                          font-normal
                          absolute
                          text-center text-gray-400
                          bg-transparent
                          rounded
                          text-base
                          items-center
                          justify-center
                          w-8
                          right-0
                          pr-3
                          py-2
                        ">
              <svg *ngIf="!passw" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-eye" width="25"
                height="25" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <circle cx="12" cy="12" r="2" />
                <path
                  d="M22 12c-2.667 4.667 -6 7 -10 7s-7.333 -2.333 -10 -7c2.667 -4.667 6 -7 10 -7s7.333 2.333 10 7" />
              </svg>

              <svg *ngIf="passw" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-eye-off"
                width="25" height="25" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                stroke-linecap="round" stroke-linejoin="round">
                <line x1="3" y1="3" x2="21" y2="21" />
                <path d="M10.584 10.587a2 2 0 0 0 2.828 2.83" />
                <path
                  d="M9.363 5.365a9.466 9.466 0 0 1 2.637 -.365c4 0 7.333 2.333 10 7c-.778 1.361 -1.612 2.524 -2.503 3.488m-2.14 1.861c-1.631 1.1 -3.415 1.651 -5.357 1.651c-4 0 -7.333 -2.333 -10 -7c1.369 -2.395 2.913 -4.175 4.632 -5.341" />
              </svg>
            </span>
          </div>
          <span class="validate" *ngIf="
                        (FC.old_password.touched || submitted) &&
                        FC.old_password.errors?.required
                      ">
            * Mật khẩu không được để trống
          </span>
        </div>

        <div class="mt-1 mb-5">
          <label class="font-semibold text-sm text-gray-600 pb-1 block">Mật khẩu mới <span
              class="text-red-400">(*)</span></label>
          <div class="relative">
            <input [type]="newPassw ? 'password' : 'text'" class="
                          relative
                          border
                          rounded-lg
                          p-3
                          text-sm
                          w-full
                          focus:outline-none
                          input
                        " placeholder="Nhập mật khẩu mới" formControlName="new_password" />
            <span (click)="handleShowNewPassword()" class="
                          z-10
                          h-full
                          leading-snug
                          font-normal
                          absolute
                          text-center text-gray-400
                          bg-transparent
                          rounded
                          text-base
                          items-center
                          justify-center
                          w-8
                          right-0
                          pr-3
                          py-2
                        ">
              <svg *ngIf="!newPassw" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-eye"
                width="25" height="25" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <circle cx="12" cy="12" r="2" />
                <path
                  d="M22 12c-2.667 4.667 -6 7 -10 7s-7.333 -2.333 -10 -7c2.667 -4.667 6 -7 10 -7s7.333 2.333 10 7" />
              </svg>

              <svg *ngIf="newPassw" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-eye-off"
                width="25" height="25" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                stroke-linecap="round" stroke-linejoin="round">
                <line x1="3" y1="3" x2="21" y2="21" />
                <path d="M10.584 10.587a2 2 0 0 0 2.828 2.83" />
                <path
                  d="M9.363 5.365a9.466 9.466 0 0 1 2.637 -.365c4 0 7.333 2.333 10 7c-.778 1.361 -1.612 2.524 -2.503 3.488m-2.14 1.861c-1.631 1.1 -3.415 1.651 -5.357 1.651c-4 0 -7.333 -2.333 -10 -7c1.369 -2.395 2.913 -4.175 4.632 -5.341" />
              </svg>
            </span>
          </div>
          <span class="validate" *ngIf="
                        (FC.new_password.touched || submitted) &&
                        FC.new_password.errors?.required
                      ">
            * Mật khẩu không được để trống
          </span>
          <span class="validate" *ngIf="
                        FC.new_password.touched &&
                        FC.new_password.errors?.invalidPassword
                      ">* Nhập tối thiểu 8 ký tự, ít nhất 1 chữ hoa , 1 chữ viết
            thường và 1 số nguyên
          </span>
        </div>

        <div class="mt-1 mb-5">
          <label class="font-semibold text-sm text-gray-600 pb-1 block">Xác nhận mật khẩu
            <span class="text-red-400">(*)</span></label>
          <div class="relative">
            <input [type]="confirmNewPassw ? 'password' : 'text'" class="
                          relative
                          border
                          rounded-lg
                          p-3
                          text-sm
                          w-full
                          focus:outline-none
                          input
                        " placeholder="Xác nhận mật khẩu" formControlName="verify_password" />
            <span (click)="handleShowConfirmPassword()" class="
                          z-10
                          h-full
                          leading-snug
                          font-normal
                          absolute
                          text-center text-gray-400
                          bg-transparent
                          rounded
                          text-base
                          items-center
                          justify-center
                          w-8
                          right-0
                          pr-3
                          py-2
                        ">
              <svg *ngIf="!confirmNewPassw" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-eye"
                width="25" height="25" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <circle cx="12" cy="12" r="2" />
                <path
                  d="M22 12c-2.667 4.667 -6 7 -10 7s-7.333 -2.333 -10 -7c2.667 -4.667 6 -7 10 -7s7.333 2.333 10 7" />
              </svg>

              <svg *ngIf="confirmNewPassw" xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-eye-off" width="25" height="25" viewBox="0 0 24 24" stroke-width="2"
                stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <line x1="3" y1="3" x2="21" y2="21" />
                <path d="M10.584 10.587a2 2 0 0 0 2.828 2.83" />
                <path
                  d="M9.363 5.365a9.466 9.466 0 0 1 2.637 -.365c4 0 7.333 2.333 10 7c-.778 1.361 -1.612 2.524 -2.503 3.488m-2.14 1.861c-1.631 1.1 -3.415 1.651 -5.357 1.651c-4 0 -7.333 -2.333 -10 -7c1.369 -2.395 2.913 -4.175 4.632 -5.341" />
              </svg>
            </span>
          </div>
          <span class="validate" *ngIf="
                        FC.verify_password.touched &&
                        FC.verify_password.errors?.passwordMismatch
                      ">
            * Xác nhận mật khẩu không khớp
          </span>
        </div>

        <div class="grid grid-cols-2 gap-2 mt-5">
          <a [routerLink]="Router.PROFILE.STAFF.URL" mat-raised-button class="text-md bg-header text-main">
            Huỷ
          </a>

          <button type="submit" mat-raised-button class="
                        text-md
                        bg-main
                        text-white
                        transition
                        duaration-300
                      ">
            Lưu thay đổi
          </button>
        </div>
      </form>
    </section>
  </div>
</div>

<app-loading-page *ngIf="isLoading"></app-loading-page>